{%extends 'base.html' %}
{% block content %}
{%load static%}
<div>
<h1>Contact Us</h1>

<p>We’d love to hear from you!</p>

<p>Whether you have questions, feedback, or just want to say hello — the MoviesStore team is here for you. Your input helps us improve and provide the best movie experience possible.</p>

<h3> Get in Touch:</h3>

<ul>
    <li>info@scitt.tech.it</li>
    <li>Phone: +123 456 7890</li>
    <li>Social media</li>
    <li>Address: 123 Cinema Lane, MovieTown, MT 56789</li>
    <li>website </li>
    <li>Working Hours: Monday – Friday | 9:00 AM – 5:00 PM (UTC)</li>
</ul>


<p>Or simply fill out our contact form on the website, and we’ll get back to you as soon as possible.</p>

<p><strong>Let’s connect and make movie magic together!</strong></p>
</div>
{% endblock content%}