{% extends 'base.html' %}
{% load static %}

{% block title %}
    Cart
{% endblock %}

{% block content %}

    <h1>Your Movie Cart</h1>

    <div style="text-align: center; padding: 20px;">
        <h2>Your cart is empty</h2>
        <p>Looks like you haven't added any movies yet.</p>
        <div>
            <a href="{% url 'accounts:login' %}" style="display: inline-block; padding: 10px 20px; margin-right: 10px; background-color: #4bc9f0; color: #111; border: 1px solid #4cebeb; border-radius: 3px; text-decoration: none; box-shadow: 0 0 5px 2px #f012be;">Log in</a>
        </div>
        
    </div>

    {% include 'accounts/login.html' %}
    {% include 'accounts/logout.html' %}
    {% include 'accounts/profile.html' %}
    

{% endblock %}